.hero__container {
  display: flex;
  flex-flow: nowrap column;
  align-items: space-between;
  justify-content: space-between;
  height: 100vh;
  padding: 60px 0 20px;
}

.hero__center-content {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.hero__bottom-buttons {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.hero__bottom-buttons {
  display: flex;
  justify-content: center;
}