.round-btn{
  height: 50px;
  width: 50px;
  border-radius:50%;
  border: 2px solid #464E62;
  box-sizing: border-box;
  background-color: transparent;
  &--pointer-left {
    
    margin-right: 25px;
    transform: rotate(90deg);
  }
  &--pointer-right {
    transform: rotate(270deg);
  }
  &:disabled{
    cursor:default;
    border-color: rgba(#464E62, 0.3);
    
    .review-btn {
      fill: rgba(#464E62, 0.3);
    }
  }
}

.review-btn {
  height: 12px;
  fill: #464E62;
}

