.scroll-down-btn {
  background: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $text-color;
  padding-left: 0px;
}
.scroll__icon {
  margin-left: 15px;
  width: 15px;
  height: 15px;
  fill: $text-color;
}