.slider {
  width: 60%;

}

.slider__item {
  width: 50%;
  height: 100%;
  margin-right: 20px;
}

.slider__header{
  display: flex;
  margin-bottom: 80px;
}
.slider__buttons{
  width: fit-content;
  margin-left: 115px;
}

.flickity-viewport {
  min-height: 300px;
  transition: height 0.2s;
}