
.works-preview__thumbs {
  width: 180px;
  position: relative;
  margin-top: -28.25rem;
  margin-left: 43.75rem;
}
.thumbs {
  margin: 0px;
}

.thumbs__pic {
  
}

.thumbs__item {
  &:hover{
    border: 3px;
    border-color: #dc9322;
    border-style: solid;
    &:last-child{
      margin-bottom: 0px;
    }
  }
}
.thumbs__link{

} 

.active {
  border: 3px;
  border-color: #dc9322;
  border-style: solid;
}
