.userinfo {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;

}
.userinfo__name {
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  line-height: 60px;
  flex-basis: 400px;
  display: flex;
  justify-content: center;
}
.userinfo__title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: rgba(70, 78, 98, 0.5);
}

