.userinfo {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;

}
.userinfo__name {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 3.75rem;
  display: flex;
  justify-content: center;
}
.userinfo__title {
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: rgba(70, 78, 98, 0.5);
}

