script(type="text/x-template")#works-list
    .works__content
        work-preview(
            :currentWork="selectedWork", 
            :works="works",
            :selectedIndex="selectedIndex",
            @nextSlide="nextSlide",
            @prevSlide="prevSlide"
        )
        work-info(:work="selectedWork")    

//- script(type="text/x-template")#works-display
//-     #test

script(type="text/x-template")#work-preview
    .works-preview
        .works-preview__pictures(:data-slide="selectedIndex + 1")
            img(:src="currentWork.image").works-preview__img
        work-thumbs(
            :currentWork="currentWork", 
            :works="reversedWorks"
        )
        work-btns(
            @nextSlide="$emit('nextSlide')",
            @prevSlide="$emit('prevSlide')"
        )

script(type="text/x-template")#work-btns
    .works--preview__btns
        .square-btns
            button(
                type="button"
                @click="$emit('nextSlide')"
            ).square-btns__item.square-btns__item--next
            button(
                type="button"
                @click="$emit('prevSlide')"
            ).square-btns__item.square-btns__item--prev

//- script(type="text/x-template")#work-preview
//-     #test

script(type="text/x-template")#work-thumbs
    .works-preview__thumbs
        ul.thumbs
            li.thumbs__item(
                v-for="work in works" :key="work.id"
                :class="{active: currentWork.id === work.id}"    
            )
                a(:href="work.link").thumbs__link
                img(:src="work.image").thumbs__pic

script(type="text/x-template")#work-tags
    ul.tags
        li.tags__items(v-for="tag in tags")
            .tag {{tag}}

script(type="text/x-template")#work-info
    .works-preview__info
        work-tags(
            :tags="work.tags"
        )
        .works-preview__title {{work.title}}
        .works-preview__desc
            p {{work.description}}
        .works-preview__visit
            a(:href="work.link").iconed-link Visit Website