
.login__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding: 10% 25%;  
}
.login__form-submitBtn {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.login__form-username {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.login__form-password {
    margin-bottom: 2rem;
}