.header {
    display: flex;
    margin-bottom: 4rem;
    justify-content: flex-start;
}

.title {
    margin-right: 4rem;
    font-size: 21px;
    font-weight: 800;
    color: $text-color;
}

.page-content {
    padding: 4rem 0 1.34rem;
    background: url("../images/content/Mountain Baloon.png") center center / cover no-repeat;
    flex: 1;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}