.skills {
  display: flex;
  flex-flow: column nowrap;
}

.category-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba($text-color, 0.5);
}

.skills-add-line{
  padding-top: 4.25rem;
  padding-left: 25%;
  margin-top: auto;
}

.category-component {
  height: 100%;
}