block footer
    .container.footer__container
        .footer__copyright
          .footer__copyright-col
            .footer__copyright-year &copy; 2021
          .footer__copyright-userinfo
            .footer__copyright-userinfo__name Alexander Egorov
            .footer__copyright-userinfo__title Developer's Personal Web Page (dev)
        .footer__center__container
            .footer__center-menu
                include menu
            .footer__centerbottom__container
                .footer__description__container
                    .footer__description  I have made this piece of cake frontend during my VueJs course at LoftSchool.
                    .footer__center-socials
                        include socials
                .footer__quote
                    .footer__quote-text Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
                    .footer__quote-author Martin Golding