extends ./index.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        include header

        .userinfo
          .userinfo__title Developer's Personal #[br] Web Page (dev)
          .userinfo__name Alexander #[br] Egorov
        
        .hero__center-content
          button.scroll-down-btn Scroll
          +icon("scroll__chevron","scroll__icon")
    section.about
      .container.about__container
        include about
  .middle-section
    .triangles.middle-section__triangles-top
      include chevron
    section.values  
      .contaner.skills__container
        include skills
    section.works
      .container.works__container
        include works
    .triangles.middle-section__triangles-bottom.triangles--pointed-down
      include chevron
  .bottom-section
    section.reviews
      .container.reviews__container
        .slider
          .slider__header
            .section-title What people talk about middle
            .slider__buttons
              button(type="button").round-btn.round-btn--pointer-left
                +icon("chevron","review-btn")
              button(type="button").round-btn.round-btn--pointer-right
                +icon("chevron","review-btn")
          ul.slider__content
            - 
              var reviews = [{
                reviewerName: "Cicero",
                reviewerTitle: "Consul of Rome",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                avatar: "user.png"
              },
              {
                reviewerName: "Augustus",
                reviewerTitle: "Emperor of Rome",
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                avatar: "user.png"
              }];
            each review in reviews
              li.slider__item
                +quote(review["reviewerName"], review["reviewerTitle"], review["text"], review["avatar"])
    footer.footer
      .container.footer__container
        .footer__copyright
          .footer__copyright-col
            .footer__copyright-year &copy; 2021
          .footer__copyright-userinfo

      