include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    //- .wrapper
    //-   .maincontent
    //-     +image('content/alex.jpg', 'user-pic')
    //-     +icon('link', 'link-class')
    //-     .icon-bg
    //- .container
    //-   .item ipsum
    //-   .item Lorem
    //-   .item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo tortor in orci lobortis, in blandit orci dapibus. Mauris mollis tortor ac justo volutpat venenatis. Nulla facilisi. Ut eleifend, augue eget vestibulum tincidunt, metus dui sagittis justo, ut ornare elit mi a elit. Vestibulum vehicula sem ut gravida iaculis. Fusce id commodo felis. Quisque ut varius ex. Maecenas volutpat tristique mauris nec venenatis. Cras mauris ipsum, lobortis ut magna sit amet, tristique laoreet nisi. Quisque sit amet dui turpis.
    //-   .item Lorem ipsum dolor sit amet, consectetur adipiscing elit. S
    //-   .item dolor
    //- .container
    //-   .item 1
    //-   .item
    //-     .inner-item 21
    //-     .inner-item 22 
    //-     .inner-item 23
    //-     .inner-item 24
    //-   .item 3
    //-   .item 4
    //-   .item 5
    .container
      .item 1
      .item 2
      .item 3
      .item 4
      .item 5