include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
    .container
      .header
    .container
      .landing Alexander Egorov
      .container
        .profile-picture
          +image('content/alex.jpg', 'user-pic')
        .profile Born in USSR
        .description Architect, Cloud Solutions
    .container
      .descirption Why I am awesome
      .backpack backpack goes here
      .frontend skills here
      .backend skill here
    .container
      .preview-slider My works
      .work-description
    .container
      .references My references
    .container 
      .footer
      +icon('link', 'link-class')
      .icon-bg


    
