extends ./index.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        include header

        .userinfo
          .userinfo__title Developer's Personal #[br] Web Page (dev)
          .userinfo__name Alexander #[br] Egorov
        
        .hero__center-content
          button.scroll-down-btn Scroll
          +icon("scroll__chevron","scroll__icon")
    section.about
      .container.about__container
        include about
  .middle-section
    section.values
      .contaner.skills_container
        .backpack
          .backpack__style
            +image("content/backpack.png", "backpack-pic")
        .container
          .values__title How can I be of service
          .values__content 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .values__widget
            - 
              var skillsCategories = [
                ["Frontend", ["HTML","CSS","JavaScript","Vue"]],
                ["Backend", ["dotnet","K8S","Azure","Patterns"]],
              ];
            ul.skills
              each category in skillsCategories
                li.skills__item
                  .skills-row
                    .skills-row__title #{category[0]}
                    ul.skills-row__list
                      each skill in category[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 100 100").skill__circle-shape
                              circle(cx="50" cy="50" r="40").skill__circle.skill__circle--layer--under
                              circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform="rotate(180 50 50)").skill__circle.skill__circle--layer--above
                              linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="100%")
                                stop(offset="0%" stop-color="#5500f2")
                                stop(offset="100%" stop-color="#8f00ef")
                            .skill_title #{skill}