extends ./index.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        include header

        .userinfo
          .userinfo__title Developer's Personal #[br] Web Page (dev)
          .userinfo__name Alexander #[br] Egorov
        
        .hero__center-content
          button.scroll-down-btn Scroll
          +icon("scroll__chevron","scroll__icon")
    section.about
      .container.about__container
        include about
  .middle-section
    .triangles.middle-section__triangles-top
      include chevron
    section.values  
      .contaner.skills__container
        .backpack
          .backpack__style
              +image("content/backpack.png", "backpack-pic")
        .container
            .values__title How can I be of service
            .values__content 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .values__widget
              #skills-component
    section.works
      .container.works__container
          .section-title My works
            #works-component
    .triangles.middle-section__triangles-bottom.triangles--pointed-down
      include chevron
  .bottom-section
    section.reviews
      .container.reviews__container
        include reviews
    footer.footer
      .container.footer__container
        .footer__copyright
          .footer__copyright-col
            .footer__copyright-year &copy; 2021
          .footer__copyright-userinfo
            .footer__copyright-userinfo__name Alexander Egorov
            .footer__copyright-userinfo__title Developer's Personal Web Page (dev)
        .footer__center__container
          .footer__center-menu
            include menu
          .footer__description  I have made this piece of cake frontend during my VueJs course at LoftSchool.
          .footer__center-socials
            include socials
        .footer__quote 
          .footer__quote-text Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
          .footer__quote-author Martin Golding