extends ./index.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        include header

        .userinfo
          .userinfo__title Developer's Personal #[br] Web Page (dev)
          .userinfo__name Alexander #[br] Egorov
        
        .hero__center-content
          button.scroll-down-btn Scroll
          +icon("scroll__chevron","scroll__icon")
    section.about
      .container.about__container
        include about
  .middle-section
    .triangles.middle-section__triangles-top
      include chevron
    section.values  
      .contaner.skills_container
        include skills
    section.works
      .container.works_container
        .section-title My works
        .works__content
          .works-preview
            .works-preview__pictures
              +image("content/Preview-1.Big.png", "works-preview__img")
              .works-preview__thumbs
                ul.thumbs
                  - for (var i = 4; i > 0; i--)
                    li.thumbs__item
                      a(href="").thumbs__link
                        +image(`content/Preview-${i}.png`, "thumbs__pic")
              
            .works--preview__btns
              .square-btns
                button(type="button").square-btns__item.square-btns__item--next
                button(type="button").square-btns__item.square-btns__item--prev
          .works-preview__info
            - var tags = ["HTML", "CSS", "JavaScript"];
            ul.tags
              each item in tags
                li.tags__items
                  .tag #{item}
            .works-preview__title Selected Work Title
            .works-preview__desc
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .works-preview__visit
              +icon("link","link__icon")
              a(href="").iconed-link Visit Website
    .triangles.middle-section__triangles-bottow.triangles--pointed-down
      include chevron
      