block reviews    
    .slider
        .slider__header
            .section-title What people think about me
            .slider__buttons
                button(type="button").round-btn.round-btn--pointer-left
                    +icon("chevron","review-btn")
                button(type="button").round-btn.round-btn--pointer-right
                    +icon("chevron","review-btn")
        ul.slider__content
            - 
                var reviews = [{
                    reviewerName: "Cicero",
                    reviewerTitle: "Consul of Rome",
                    text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                    avatar: "user.png"
                },
                {
                    reviewerName: "Augustus",
                    reviewerTitle: "Emperor of Rome",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    avatar: "user.png"
                }];
            each review in reviews
                li.slider__item
                    +quote(review["reviewerName"], review["reviewerTitle"], review["text"], review["avatar"])