.avatar-component {
  display: flex;
}
.avatar-wrapper {
  overflow: hidden;
  border-radius: 50%;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.avatar-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}